.myheader{
  text-align: center;
  background-color: pink;
  background-image: url("https://wun.ac.uk/auto/thumbnail/persistent/article_images/himalayas_jadu.jpeg?maxwidth=830");
  background-size: 1550px 775px;
  font-family: Lobster;
  background-position: center;
  
}
.display-4{
  font-family: Acme;
}
.AW{
  font-family: Aclonica;
  font-size: 25px;
}
.profile_pic{
  border-radius: 50%;
  border: 4mm ridge rgba(142, 229, 247, 0.547);
}
#About{
  background-color: yellow;
}
.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:rgb(235, 155, 228);
  /*height: 100px;*/
}

.item2 {
  background-color:rgba(208, 225, 236, 0.808);
  /*height: 100px;*/
}

.item3 {
  background-color:rgb(130, 209, 106);
  /*height: 100px;*/
}
i{
  margin-right: 10px;
}
